@{
    ViewData["Title"] = "Sign In";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <link rel="shortcut icon" type="image/png"
          href="../Images/logo.png" />


    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/sign-in/">


    <!-- Bootstrap core CSS -->
    @*<link href="../wwwroot/bootstrap-4.6.1-examples/assets/dist/css/bootstrap.min.css" rel="stylesheet">*@



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }
            .form-signin img {
                border-radius: 7px
            }
    </style>


    <!-- Custom styles for this template -->
    @*<link href="../wwwroot/bootstrap-4.6.1-examples/sign-in/signin.css" rel="stylesheet">*@
</head>
<body class="text-center">

    <form class="form-signin" action="../Auth/Register" method="post">
        <img class="mb-4" src="../Images/logo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" name="Name" id="inputName" class="form-control" placeholder="Name" required autofocus>

        <label for="inputPhoneNumber" class="sr-only">Phone Number</label>
        <input type="text" name="PhoneNumber" maxlength="10" id="inputPhoneNumber" class="form-control" placeholder="Phone Number" required autofocus>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="Email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="Password" id="inputPassword" class="form-control" placeholder="Password" required>



        <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:#343A40 !important ;color:yellow">Sign in</button>
        <p>Do you have an account?<a type="button" class="btn btn-lg btn-primary btn-block"
           style="padding:5px 35px;background-color:#343A40 !important ;color:yellow"
           asp-area="" asp-controller="Auth" asp-action="LogInForm">
           Log In
           </a>
        </p>
    </form>



</body>
</html>
