@{
    ViewData["Title"] = "Home";
}
<!-- Custom styles for this template -->
<link href="../bootstrap-4.6.1-examples/album/album.css" rel="stylesheet">


<div class="text-center">
    <h1 class="display-4"><b>Welcome To Live Learn</b></h1>
</div>

<section class="jumbotron text-center" style="background-color:#F8F9FA">
    <div class="container">
        <h1>Courses and Informations About Courses</h1>
        <p class="lead text-muted">Students can look at the informations about courses and its lecturers through the links below. There are some short information about the course and lecturers itself</p>
        <p>
            @{
                if (OnlineCourseManagement.Controllers.AuthController.user != null)
                {
                    <a class="btn btn-primary my-2" asp-area="" asp-controller="Courses" asp-action="GetAll">Courses List</a>
                }
                else
                {
                    <a class="btn btn-primary my-2" asp-area="" asp-controller="Auth" asp-action="SignInForm">Courses List</a>
                }
            }

        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @{
                var service = (OnlineCourseManagement.Models.Business.Abstract.ICategoryService)ViewData["CategoryService"];
                var data = service.GetAll().Data;
            }
            @foreach (var item in data)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100" height="225" src="@item.ImagePath" />
                        <div class="card-body" style="width:300px ; height:150px">
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center" style="position: absolute; bottom: 10px; left: 125px">
                                @{
                                    if (OnlineCourseManagement.Controllers.AuthController.user != null)
                                    {
                                        <a type="button" class="btn btn-sm btn-outline-secondary"
                                           style="padding:5px 35px;background-color:#343A40 !important ;color:yellow"
                                           asp-area="" asp-controller="Courses" asp-action="GetCoursesByCategoryId"
                                           asp-route-id="@item.Id">
                                            View
                                        </a>
                                    }
                                    else
                                    {
                                        <a type="button" class="btn btn-sm btn-outline-secondary"
                                           style="padding:5px 35px;background-color:#343A40 !important ;color:yellow"
                                           asp-area="" asp-controller="Auth" asp-action="SignInForm">
                                            View
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
