@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    h1 {
        background-color: yellow;
        color: #343A40 !important;
        display: inline;
        border-radius: 10px;
        margin-top: 30px;
    }  
</style>

<br />
<h1 class="display-4">@ViewData["Title"]</h1>
<br />
<p>All Rights Reserved. This website has been designed and created by Tarık Canavar, Yusuf Orhan Okkabas and Özcan Elmacı.</p>
