@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All Rights Reserved. This website has been designed and created by Tarık Canavar, Yusuf Orhan Okkabas and Özcan Elmacı.</p>
