@{
    ViewData["Title"] = "Add-Course";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <link rel="shortcut icon" type="image/png"
          href="../Images/logo.png" />


    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/sign-in/">


    <!-- Bootstrap core CSS -->
    @*<link href="../wwwroot/bootstrap-4.6.1-examples/assets/dist/css/bootstrap.min.css" rel="stylesheet">*@



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin img {
                border-radius: 7px
            }
    </style>


    <!-- Custom styles for this template -->
    @*<link href="../wwwroot/bootstrap-4.6.1-examples/sign-in/signin.css" rel="stylesheet">*@
</head>
<body class="text-center">

    <form class="form-signin" action="../CourseInstructors/Add" method="post">
        <img class="mb-4" src="../Images/logo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please Enter Course Information</h1>
        @{
            var categories = (List<OnlineCourseManagement.Models.Entities.Concrete.Category>)ViewData["Categories"];
            var users = (List<OnlineCourseManagement.Models.Entities.Concrete.User>)ViewData["Users"];
        }

        <label for="inputCategory" class="sr-only">Category Name</label>
        <SELECT name="CategoryId" id="inputCategory" class="form-control" required autofocus>
            @foreach (var category in categories)
            {
                <OPTION Value="@category.Id">@category.Name</OPTION>
            }
        </SELECT>

        <label for="inputUsers" class="sr-only">Users Name</label>
        <SELECT multiple name="UserId" id="inputUsers" class="form-control" required autofocus>
            @foreach (var user in users)
            {
                <OPTION Value="@user.Id">@user.Name</OPTION>
            }
        </SELECT>
        
        <label for="inputName" class="sr-only">Course Name</label>
        <input type="text" name="Name" id="inputName" class="form-control" placeholder="Enter Course Name" required autofocus>

        <label for="inputDescription" class="sr-only">Description</label>
        <input type="text" name="Description" minlength="50" maxlength="100" id="inputDescription" class="form-control" placeholder="Enter Your Course Description" required autofocus>

        <label for="inputImagePath" class="sr-only">Image Path</label>
        <input type="text" name="ImagePath" id="inputImagePath" class="form-control" placeholder="Enter Image URL" required autofocus>

        <label for="inputLink" class="sr-only">Link</label>
        <input type="text" name="Link" id="inputLink" class="form-control" placeholder="Enter Link" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color:#343A40 !important ;color:yellow">Add Course</button>
    </form>



</body>
</html>

